<div id="layoutSidenav_content">
    <main>
        <div class="main-header main-header-fullwidth main-header-has-header-standard">
            <header class="row">
                <div class="titulo">
                    <h1 class="nombre">WHA <span>Health Analytics</span></h1>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                </div>
            </header>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title">Quienes somos</span></h2>
                        <p class="heading-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Doloremque, minus possimus nam consequatur suscipit modi illo voluptates expedita,
                            reprehenderit recusandae rem accusantium veniam at distinctio amet quae hic harum sint.
                        </p>
        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti veritatis qui corporis obcaecati
                            vel, cumque saepe, doloribus esse maxime dolor enim pariatur ab veniam quaerat aut, suscipit
                            necessitatibus labore quibusdam?</p>
        
                    </div>
                </div>
        
                <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="/static/static/assets/img/prueba1/11.jpg" class="w-100" alt="screen">
                </div>
            </div>
        </div>
        
        
        
        <div class="container">
            <div class="row">
                <div class="col col-xl-9 col-lg-9 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <div id="slideshow" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae
                                        consequuntur dolores
                                        laudantium vel suscipit accusantium rem veritatis reiciendis atque! Accusantium sed
                                        recusandae mollitia
                                        cum quo! Esse accusantium eligendi a optio!</p>
                                    <img src="/static/static/assets/img/prueba1/1.jpg" class="w-100" alt="">
        
                                </div>
                                <div class="carousel-item">
                                    <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum
                                        facilis ab porro
                                        assumenda quidem sint ea impedit numquam soluta atque fuga officia, eveniet deleniti
                                        quam consequuntur
                                        eligendi sit delectus totam.</p>
                                    <img src="/static/static/assets/img/prueba1/2.jpg" class="w-100" alt="">
        
                                </div>
                                <div class="carousel-item">
                                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quas
                                        libero hic error
                                        sapiente, beatae, sint odio eligendi rerum impedit optio labore, commodi provident
                                        aut ullam fuga.
                                        Fugit, hic odio.</p>
                                    <img src="/static/static/assets/img/prueba1/3.jpg" class="w-100" alt="">
                                </div>
                            </div>
        
                            <!--indicadores-->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide #1"></button>
        
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="1" aria-current="true"
                                    aria-label="Slide #2"></button>
        
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="2" aria-current="true"
                                    aria-label="Slide #3"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="container">
            <div class="row">
                <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="/static/static/assets/img/prueba1/12.jpg" class="w-100" alt="screen">
                </div>
        
                <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title">Mision</h2>
                        <p class="heading-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Distinctio animi facere, id vitae unde aliquam cumque eveniet at expedita
                            voluptates rem delectus necessitatibus neque quam earum blanditiis ea perferendis laboriosam!
                        </p>
        
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita vel pariatur nam optio delectus
                            labore, repudiandae necessitatibus reiciendis! Hic, voluptatem sunt ullam vero commodi fugiat
                            sapiente itaque consequuntur quod ratione!
        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="container">
            <div class="row">
                <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title">Vision</h2>
                        <p class="heading-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Distinctio animi facere, id vitae unde aliquam cumque eveniet at expedita
                            voluptates rem delectus necessitatibus neque quam earum blanditiis ea perferendis laboriosam!
                        </p>
        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sunt laboriosam dolor commodi
                            distinctio
                            quidem laborum minima blanditiis eligendi, quibusdam nobis in, alias, eum veniam debitis nulla
                            assumenda
                            aliquid exercitationem.
        
                        </p>
                    </div>
                </div>
        
                <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="/static/static/assets/img/prueba1/13.png" class="w-100" alt="screen">
                </div>
            </div>
        </div>
    </main>
    
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
