<div id="layoutSidenav_content">
    <main>
        <!--Header-->
        <div class="header" style="background: url(/static/static/assets/img/prueba1/{{backgroundHeader}}.jpg); background-size: cover;">        
            <header class="row">
                <div class="title">
                    <h1 class="name">WHA <span>Health Analytics</span></h1>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3><!--phrase of the company WHA-->
                </div>
            </header>
        </div>
        
        <!--About us-->
        <div class="container p-5">
            <div class="row">
                <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title">Quienes somos</span></h2>
                        <p class="heading-text" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Doloremque, minus possimus nam consequatur suscipit modi illo voluptates expedita,
                            reprehenderit recusandae rem accusantium veniam at distinctio amet quae hic harum sint.
                        </p>
        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti veritatis qui corporis obcaecati
                            vel, cumque saepe, doloribus esse maxime dolor enim pariatur ab veniam quaerat aut, suscipit
                            necessitatibus labore quibusdam?</p>
        
                    </div>
                </div>
        
                <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="/static/static/assets/img/prueba1/11.jpg" class="w-100" alt="screen">
                </div>
            </div>
        </div>  
        <!--Carousel and strategic objectives-->        
        <div class="container p-5">
            <div class="row">
                <div class="col col-xl-9 col-lg-9 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <div id="slideshow" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <p class="text-center"> <b>Publicitar a través de los diferentes medios y redes sociales el uso de las herramientas de AutoML y las ventajas que
                                    ofrecen su uso dentro de varios sectores industriales.</b></p>
                                    <img src="/static/static/assets/img/prueba1/strategicObjectives1.jpg" class="w-100" alt="">
        
                                </div>
                                <div class="carousel-item">
                                    <p class="text-center"><br><b>Soportar el desarrollo de la plataforma WHA desde un enfoque cloud híbrido privado y público.</b></p>
                                    <img src="/static/static/assets/img/prueba1/strategicObjectives2.jpg" class="w-100" alt="">
        
                                </div>
                                <div class="carousel-item">
                                    <p class="text-center"><b>Acrecentar la competitividad a través de la propuesta de algoritmos vanguardistas del estado del arte y la innovación de
                                    productos. </b></p>
                                    <img src="/static/static/assets/img/prueba1/strategicObjectives3.jpg" class="w-100" alt="">
                                </div>

                                <div class="carousel-item">
                                    <p class="text-center"><br><b>Implementar y mantener un modelo de gestión empresarial basado en un modelo de gestión de la calidad.</b></p>
                                    <img src="/static/static/assets/img/prueba1/strategicObjectives4.jpg" class="w-100" alt="">
                                </div>

                                <div class="carousel-item">
                                    <p class="text-center"><b>Captar clientes industriales de diferentes quehaceres que requieran soluciones de AutoML en los ámbitos de visión por
                                    computadora y procesamiento del lenguaje natural.</b></p>
                                    <img src="/static/static/assets/img/prueba1/strategicObjectives5.jpg" class="w-100" alt="">
                                </div>
                            </div>
        
                            <!--indicadores-->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide #1"></button>
        
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="1" aria-current="true"
                                    aria-label="Slide #2"></button>
        
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="2" aria-current="true"
                                    aria-label="Slide #3"></button>
                                
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="3" aria-current="true"
                                    aria-label="Slide #4"></button>
                                
                                <button type="button" data-bs-target="#slideshow" data-bs-slide-to="4" aria-current="true"
                                    aria-label="Slide #5"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Mission-->       
        <div class="container p-5">
            <div class="row">
                <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="/static/static/assets/img/prueba1/mission.png" class="w-100" alt="screen">
                </div>
        
                <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title text-center">Misión</h2>
                        <p class="heading-text" style="text-align: justify;">WHA es una empresa que se dedica a dar soluciones de AutoML (Machine Learning automatizado para predicción,
                        clasificación y regresión) en diversas aplicaciones industriales, a través del uso de técnicas de Visión por
                        Computadora, Procesamiento del Lenguaje Natural, Modelos clásicos de regresión y clasificación, matemáticas y
                        estadística entre otras, para facilitar la toma de decisiones estratégicas en la generación de valor, aumento de la
                        competitividad, descubrimiento de mercados, gestión del riesgo y gestión de la calidad.
                        </p>
        
                        <p>        
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Vision-->        
        <div class="container p-5">
            <div class="row">
                <div class="col col-xl-5 col-lg-5 m-auto col-md-12 col-sm-12 col-12">
                    <div class="crumina-module crumina-heading">
                        <h2 class="heading-title text-center">Visión</h2>
                        <p class="heading-text" style="text-align: justify;">El horizonte temporal de WHA es bianual, por lo tanto, en el año 2026 WHA se consolidará como una compañía líder en el
                        mercado de soluciones de AutoML en las naciones de Colombia y España. Igualmente, será reconocida por sus contribuciones
                        en el desarrollo de las pequeñas y medianas empresas en diferentes sectores industriales, a través de la aplicación de
                        algoritmos vanguardistas que la industria demande. Además, su plataforma whacloud.com se convertirá en una herramienta
                        indispensable para la toma de decisiones gerenciales de nuestros clientes.
                        </p>
        
                        <p>        
                        </p>
                    </div>
                </div>
        
                <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                    <img src="/static/static/assets/img/prueba1/vision.png" class="w-100" alt="screen">
                </div>
            </div>
        </div>
    </main>
    <!--Footer-->
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
